/* ----------ADD EMPLOYEE COMPONENT---------- */


@mixin displayFlex() {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.add-employee-box {
    // border: darkseagreen solid;
    margin: 50px;
    @include displayFlex();
}

.add-employee-box input {
    margin: 10px;
    padding: 10px;
    outline: none;
    border: 0;
    border-bottom: 2px solid #408DFF;
}

.new-employee-title {
    color: #fff;
    background-color: #232323;
    height: 500px;
    padding: 50px;
    font-size: 50px;
    @include displayFlex();
}

.add-employee-btn {
    background-color: #408DFF;
    height: 55px;
    width: 150px;
    display: inline-block;
    @include displayFlex();
}

.add-employee-btn:hover {
    cursor: pointer;
}