/* ----------ADD EMPLOYEE COMPONENT---------- */


@mixin displayFlex() {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.add-employee-box {
    // border: darkseagreen solid;
    margin: 50px;
    @include displayFlex();
}

.add-employee-box input {
    margin: 10px;
    padding: 10px;
    outline: none;
    border: 0;
    border-bottom: 2px solid #408DFF;
}

.new-employee-title {
    color: #fff;
    background-color: #232323;
    height: 500px;
    padding: 50px;
    font-size: 50px;
    @include displayFlex();
    box-shadow: 5px 10px 30px #7e7e7e;

}

.admin-access {
    color: #6A6A6A;
    text-align: left;
    padding-left: 10px;
    border-bottom: #408DFF solid 2px;
    line-height: 40px;
    margin-top: 12px;
    width: 180px;
}

.add-employee-btn {
    color: #fff;
    background-color: #408DFF;
    height: 55px;
    width: 200px;
    display: inline-block;
    @include displayFlex();
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.add-employee-btn:hover {
    cursor: pointer;
    color: #408dff;
    background-color: #fff;
    border: #408dff 1px solid;
}