/* ----------ADDPRODUCT COMPONENT---------- */


// @mixin displayFlex() {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.add-product-box {
    margin-top: 50px;
}

.new-product-title {
    padding-top: 50px;
    font-size: 50px;
}

.add-product-btn {
    border: cornflowerblue solid;
    height: 50px;
    width: 150px;
    display: inline-block;
    // @include displayFlex();
}