/* ----------ADD PRODUCT COMPONENT---------- */

body {
    font-family: 'Raleway', sans-serif;
}

@mixin displayFlex() {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.add-product-box {
    margin-top: 50px;
    @include displayFlex();
}

.add-product-box input {
    margin: 10px;
    padding: 10px;
    outline: none;
    border: 0;
    border-bottom: 2px solid #408DFF;
}

.new-product-title {
    color: #fff;
    background-color: #232323;
    height: 500px;
    padding: 50px;
    font-size: 50px;
    @include displayFlex();
}

.new-product-availability {
    color: #6A6A6A;
    margin: 10px 20px 6px;
    padding-left: 10px;
    text-align: left;
    width: 190px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: #408DFF solid 2px;
}

.product-type-dropdown {
    // background-color: #408DFF;
    border: transparent;
    color: #6A6A6A;
    width: 120px;
    height: 35px;
    outline: #fff;
    padding-left: 10px;
    border-bottom: solid 1.5px #408DFF;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
}

select {
    -webkit-appearance: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
  }

.add-product-btn {
    color: #fff;
    background-color: #408DFF;
    height: 50px;
    width: 250px;
    display: inline-block;
    @include displayFlex();
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.add-product-btn:hover {
    cursor: pointer;
    color: #408dff;
    background-color: #fff;
    border: #408dff 1px solid;
}