/* ----------ADD PRODUCT COMPONENT---------- */


@mixin displayFlex() {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.add-product-box {
    margin-top: 50px;
    @include displayFlex();
}

.add-product-box input {
    margin: 10px;
    padding: 10px;
    outline: none;
    border: 0;
    border-bottom: 2px solid #408DFF;
}

.new-product-title {
    color: #fff;
    background-color: #232323;
    height: 500px;
    padding: 50px;
    font-size: 50px;
    @include displayFlex();
}

.new-product-availability {
    color: #232323;
    margin: 10px 20px 0px;
    font-size: 20px;
    border-bottom: #408DFF solid 2px;
}

.product-type-dropdown {
    // background-color: #408DFF;
    border: transparent;
    width: 120px;
    height: 35px;
    outline: #fff;
    border-bottom: solid 1.5px #408DFF;
    margin-left: 10px;
    background-color: #fff;
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

.add-product-btn {
    background-color: #408DFF;
    height: 50px;
    width: 150px;
    display: inline-block;
    @include displayFlex();
}

.add-product-btn:hover {
    cursor: pointer;
}