/* ----------ADMIN COMPONENT---------- */


@mixin displayFlex() {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.admin-page {
    width: 100vw;
    margin-top: 60px;
    @include displayFlex();

    a {
        text-decoration: none;
        color: #232323;
    }
}

.product-management-div,
.employee-management-div {
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
    width: 50vw;
    margin: 20px;
}

.add-product, 
.manage-products, 
.add-employee,
.delete-employee {
    @include displayFlex();
    width: 30vw;
    height: 150px;
    margin: 20px;
}

.add-product,
.manage-products, 
.add-employee, 
.delete-employee
 {
    background-color: #408DFF;
} 
