/* ----------ADMIN COMPONENT---------- */


@mixin displayFlex() {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.admin-page {
  width: 100vw;
  margin-top: 60px;
  @include displayFlex();

  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.product-management-div,
.employee-management-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: 20px;
}

.add-product,
.manage-products,
.add-employee,
.delete-employee {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30vw;
  height: 150px;
  margin: 20px;
  padding: 20px;
  font-size: 5vh;
  color: #fff;
  background-color: #408dff;
  box-shadow: 5px 10px 30px #aeaeaa;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.add-product:hover,
.manage-products:hover,
.add-employee:hover,
.delete-employee:hover {
  cursor: pointer;
  color: #408dff;
  background-color: #fff;
}
