/* ----------MANAGE PRODUCTS COMPONENT---------- */

@mixin displayFlex() {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.manage-products-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #424242;

}

.stats {
    margin-top: 80px;
    height: 4150px;
    width: 300px;
}

.product-count {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    margin: 50vh 2vw 0px;
}

.wrap-all-products {
    margin-top: 50px;
}

.product-display-box {
    background-color: #fff;
    border-bottom: #424242 groove;
    margin-top: 20px;
    padding: 10px;
    width: 100%;

    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: center;
	align-content: stretch;
}

.product-display {
    margin-top: 50px;
}

.product-img {
    height: 100px;
}