.customers-page{
    margin-top: 70px; 
}

.customers-table{
    display: flex; 
    align-items: column; 
    justify-content: space-around; 
    margin-left: 10px; 
    margin-right: 10px; 
}

.customer-info{
    margin-top: 15px; 
    display: flex; 
    align-items: column; 
    
}

.table-info{
    border-bottom: solid; 
}

.customer-info-edit{
    margin-top: 15px; 
    display: flex; 
    align-items: column; 
    
}



