#header-logo {
    height: 50px;
    display: flex;
}

.nav-bar {
    height: 50px; 
    background-color: #232323; 
    position: fixed; 
    top: 0; 
    min-width: 100vw;
    /* width: 100%;  */
    color: white; 
    z-index: 1;
    text-transform: uppercase;
}

.nav-bar a:hover {
    text-decoration: none;
    color: #408DFF;
}

.nav-buttons {
    position: absolute; 
    top: 15px; 
    right: 70px; 
}

.nav-button {
    margin-left: 10px; 
    color: white;  
}