#cash-container {
    padding: 20px 0;
    height: 400px;
    width: 400px;
    border: 2px solid #aaaaaa;

    h1 {
        color: #232323;
        font-size: 40px;
        font-weight: bold;
    }

    form {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px 0;
        height: 300px;

        input {
            outline: none;
            border: none;
            border-bottom: 5px #408dff solid;
            height: 25px;
            width: 125px;
            font-size: 20px;
            padding: 10px 5px;
        }
    }

    .payment-button {
        width: 100px;
        height: 40px;
        font-size: 20px;
        color: #ffffff;
        background-color: #408dff;
        border: none;
        border-radius: 5px;
    }
}