.one-transaction-container {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.receipt-container {
    border: 1px solid;
    width: 400px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

}

.receipt-item-and-price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}

.all-receipt-items {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.subtotal-total-container {
    border: 1px solid greenyellow;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    align-items: flex-end;
}