@mixin flexCenter(){
    display: flex;
    justify-content: center;
}

#PaymentForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .card-container {
        // @include flexCenter();

        border: 2px solid #aaaaaa;
        padding: 40px 20px;
        width: 400px;
        height: 300px;

        h1 {
            color: #232323;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 50px;
        }

            .actions {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-top: 50px;
                // width: 300px;

                .payment-button {
                    width: 100px;
                    height: 40px;
                    font-size: 20px;
                    color: #ffffff;
                    background-color: #408dff;
                    border: none;
                    border-radius: 5px;
                }
            }
        
    }

    .cart-payment {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
        min-height: 400px;
        height: auto;
        width: 400px;
        border: 2px solid #aaaaaa;

        #order-container {
            height: auto;
            width: 250px;
            border-bottom: 5px #408dff solid;
            border-top: 5px #408dff solid;
            padding-bottom: 10px;

            .orders {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 250px;
                height: auto;
                margin: 5px 0;
    
                span {
                    font-size: 20px;
                    margin: 5px 0;
                }
            }
        }

        button {
            width: 100px;
            height: 40px;
            font-size: 20px;
            color: #ffffff;
            background-color: #408dff;
            border: none;
            border-radius: 5px;
            margin: 20px 0;
        }
    }

    #change-display {
        @include flexCenter();

        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.753);
        position: fixed;

        span {
            @include flexCenter();
            align-items: center;
            flex-direction: column;

            height: 500px;
            width: 400px;
            background-color: white;
            border: 2px solid #aaaaaa;

            .change-flex {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: flex-start;
                height: 425px;
                width: 150px;
                // border: 1px solid black;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    p {
                        color: #232323;
                        font-size: 20px;
                        font-weight: bold; 
                        margin: 0 5px;
                    }
                }
            }

            button {
                height: 30px;
                width: 80px;
                background: transparent;
                border: none;
                outline: none;
                color: #408dff;
                font-size: 25px;
                margin-bottom: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

}