.checkout-container {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding-right: 20%;
  padding-left: 10%;
  overflow: hidden;
}

.sidebar-container {
  color: white;
  font-size: 15pt;
  height: 100vh;
  width: 10%;
  background-color: #232323;
  padding-top: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
}
.options-container {
  color: white;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.sidebar-options {
  &:hover {
    cursor: pointer;
}
}
.all-products-container {
  background-color: #e0e5ec;
  padding-right: 20px;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 20vw;
  width: 100%;
  // overflow: hidden;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.product-container {

  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
  transition: 300ms;
    &:hover {
      transform: scale(1.02);
      box-shadow: 9px 9px 20px rgba(113, 114, 116, 0.6);
        cursor: pointer;
    }
    
    
}
.product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-text {
  background-color: rgba(0, 0, 0, 0.568);
  box-sizing: border-box;
  padding: 0 5px;
  min-height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-size: 18pt;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
 
}
.cart-container {
  font-family: "Roboto Mono", monospace;
  background-color: #e0e5ec;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  padding-right: 10px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  max-height: 60vh;
  overflow: auto;
}
#item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.493);
  transition-duration: background-color 300ms;
  transition: 300ms;

  &:hover {
    background-color: rgba(128, 128, 128, 0.493);
    
    // filter: brightness(50%);
    cursor: pointer;
}
}
#item-name {
  text-align: left;
}

#remove-item {
  border: none;
  background-color: rgba(175, 2, 2, 0.527);
  color: white;
  border-radius: 2px;
  // height: 20px;

}
#price-button {
  display: flex;
}
.checkout-total {
  border-top: 1px solid rgb(121, 119, 119);
  text-align: right;
  margin: 5px 0px;
}
.selected-customer-container {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.checkout-button {
  width: 45%;
  height: 40px;
  font-size: 20px;
  color: #ffffff;
  background-color: #408cff;
  opacity: .8;
  border: none;
  border-radius: 5px;
  transition: 500ms;

  &:hover {
      opacity: 100%;
      cursor: pointer;
  }
}
.clear-button {
  width: 45%;
  height: 40px;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff4040c9;
  opacity: .8;

  border: none;
  border-radius: 5px;
  transition: 500ms;
  &:hover {
      opacity: 1;
      cursor: pointer;
  }
}

.add-customer-button {
  height: 40px;
  font-size: 20px;
  color: #ffffff;
  background-color: #408cff;
  opacity: .8;
  border: none;
  border-radius: 5px;
  transition: 500ms;

  &:hover {
      opacity: 100%;
      cursor: pointer
}
}